<h1>Products</h1>

<%= link_to "Add New Product", new_admin_panel_product_path, class: "btn btn-primary mb-3" %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Bulk Price</th>
      <th>Min Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, length: 50) %></td>
        <td><%= number_to_currency(product.unit_price) %></td>
        <td><%= number_to_currency(product.bulk_discount_price) %></td>
        <td><%= product.minimum_order_quantity %></td>
        <td>
          <%= link_to "Edit", edit_admin_panel_product_path(product), class: "btn btn-sm btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
